<div>
    <a href="{{ product.url }}">
        <img src="{{ product.featured_image | image_url: width: 400}}" loading='lazy' alt="{{ product.description }}"/>
        <h3>{{ product.title }}</h3>
        <p>{{ product.price | money }}</p>
    </a>
</div>
  {{- product.title | link_to: product.url }}